* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

body {
  // background: linear-gradient(#1e2a30, #42bbce);
  background-color: (#1e2a30);
  // background: linear-gradient(#42bbce #a36650);
  // #a36650
  font-family: "Nunito", sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  /* The actual timeline (the vertical ruler) */
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #5db6bc;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

/* Container around content */
.container {
  margin-top: 30px;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  // circle
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #2ae7fa;
    border: 4px solid #42bbce;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    & :hover {
      transform: scale(1.2);
      transition: all 0.2s linear;
      cursor: pointer;
    }
  }
}

/* Place the container to the left */
.left {
  left: 0;
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #5ab7bb;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #5ab7bb;
  }
}

/* Place the container to the right */
.right {
  left: 50%;
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #5ab7bb;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5ab7bb transparent transparent;
  }
  &::after {
    left: -16px;
  }
}

.econBg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  position: relative;
  h1 {
    text-align: center;
    font-size: 3em;
  }
  p {
    width: 40vw;
  }
  .rock {
    width: 100%;
    position: absolute;
    bottom: -4rem;
  }
  .movingBg {
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #5ab7bb;
  position: relative;
  border-radius: 6px;
  color: white;
}

@mixin chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  color: white;
}

.tokenChart {
  @include chart;
}

.liqChart {
  @include chart;
  width: 60%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .liqChart {
    width: 80%;
  }

  .movingBg {
    display: none;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #5ab7bb;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5ab7bb transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
